<br>
<div *ngIf="daysForecast.city.name">
    <h2>Forecast for 7 Days</h2>
</div>
<br>

<div *ngIf="daysForecast.city.name">
    <div *ngFor="let forecast of daysForecast.list">
        <div style="display:flex; flex-wrap:wrap; justify-content: center ;width: 100%;">
            <div class="p-shadow-1" style="padding: 10px;">
                <div>Date: {{forecast.datum|date:"fullDate"}}</div>
                <div>Max: {{forecast.temp.max| number:"1.0-2"}}  °C| Min: {{forecast.temp.min| number:"1.0-2"}} °C</div>
                <div><img [src]="forecast.weather[0].icon"> {{forecast.weather[0].description}}</div>
            </div>

        </div>
    </div>
</div>